/* Global styles for the waystation demo application. */

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
}

.page-content {
  padding: 16px 24px;
}
