version: {{.Version}}

# The name of the custom binary.
# Optional.
# Default: custom-gcl
name: golangci-lint

# The directory path used to store the custom binary.
# Optional.
# Default: .
destination: {{.Destination}}

plugins:
  - module: 'github.com/cccteam/ccc/lint'
    import: 'github.com/cccteam/ccc/lint'
    version: {{.PluginVersion}}